

body {
    /* gradient pallete */
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.grid-container {
    background-color: aliceblue;
    border-radius: 0 15px 30px 15px;
    /* border: 1px dashed; */
    display: grid;
    grid-template-columns: 6.5% 1fr;
    height: 700px;
    margin: auto;
    width: 1200px;

    /* box shadow from cssgenerator.org/box-shadow-css-generator.html */
    box-shadow: -9px 7px 7px -3px rgba(39,168,139,0.3);
    -webkit-box-shadow: -9px 7px 7px -3px rgba(39,168,139,0.3);
    -moz-box-shadow: -9px 7px 7px -3px rgba(39,168,139,0.3);
}


/* START sidebar style */
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dots-wrapper {
    display: flex;
    padding: 8px;
    margin: 0;
}

.browser-dot {
    background-color: black;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 5px;
}

#dot1 {
    background-color: rgb(235, 95, 95);
}
#dot1:hover {
    background-color: red;
}

#dot2 {
    background-color: rgb(231, 231, 96);
}
#dot2:hover {
    background-color: yellow
}
#dot3 {
    background-color: green;
}
#dot3:hover {
    background-color: rgb(57, 227, 57);
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin-top: 55px;
}



/* END sidebar style */

/* .grid-container > div {
    padding: 20px 0;
    font-size: 30px;
} */


/* START of main */
.main {
    /* border: 1px red solid; */
    border-radius: 30px 30px 30px 0;
    display: grid;
    grid-template-columns: 40% 1fr;
    height: 100%;
}


/* START of #contacts-wrapper */
#contacts-wrapper {
    /* border: 1px dashed; */
    border-right: 1px solid rgb(211, 211, 211);
    max-height: 100%;
    margin: 0;
    width: 100%;
}
.contacts {
    border-radius: 30px 0 0 0;
    display: grid;
    grid-template-rows: 10% 18% 1fr;
    height: 100%;
    width: 100%;
}


.title-bar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title-bar {
    background-color: #ACB6E5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 30px 0 0 0;
    
}

#branding {
    color: aliceblue;
    font-family: cursive;
    margin-left: 25px;
}
#utilities {
    margin-right: 25px;
}

#utilities > i {
    margin-left: 20px;
}

button {
    border: hidden;
    background-color: inherit;
}

.stories {
    background-color: inherit;
    height: 100%;
    width: 100%;
}

.people {
    background-color: #ACB6E5;
    height: 100%;
    width: 100%;
}

/* END of #contacts-wrapper */


/* START of #chat-wrapper */
#chat-wrapper {
    /* border: 1px dashed; */
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 1fr 10%;
}

.chat {
    /* border: 1px red solid; */
    border-radius: 0 30px 30px 0;
    height: 100%;
    width: 100%;
}

.text-wrapper {
    border-top: 1px solid rgb(119, 117, 117);
}

/* END of #chat-wrapper */

/* END of main */